<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	                             http://www.springframework.org/schema/beans/spring-beans.xsd
	                             http://www.springframework.org/schema/security
	                             http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/login" security="none"/>
    <http pattern="/login_error=1" security="none"/>
    <http pattern="/logout" security="none"/>
    <http pattern="/signup" security="none"/>

    <http auto-config="true">
        <form-login login-page="/login" default-target-url="/"
                    authentication-failure-url="/login_error=1"/>
        <logout logout-success-url="/logout" delete-cookies="JSESSIONID"/>
        <intercept-url pattern="/com/pickle" access="ROLE_USER"/>
        <remember-me data-source-ref="dataSource" user-service-ref="customUserDetailsService"/>
    </http>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <beans:bean id="customUserDetailsService" class="com.roloduck.security.UserDetailsServiceImpl"/>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>